.bg-color {
    color: #00ffcc;
}
.bg-color,
.btn-color {
    background-color: #ff6e14;
    color: #fff!important;
}

.bg-form {
    border-radius: 25px 25px 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.text-color {
    color: #fff!important;
}


.title-name {
    color:#ff6e14;
    padding-top:0.2em
}

.text-connexion {
    font-size:0.6em;
}

.image {
    background-size: cover;
    width: 300px;
    height: 200px;
}

.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    border-radius: 25px;
	background: #ff6e14;
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.carousel-inner img {
    margin: auto;
  }

.btn-form {
    border-radius: 0px 0px 25px 25px;
}


